.container-fluid {
  justify-content: center;
  text-align: center;
  padding: 100px;
}

.display-1 {
  font-weight: 900;
  font-size: 76px;
  padding: 2rem;
  color: blue;
  letter-spacing: 6px;
}

.display-4 {
  font-weight: 400;
  font-size: 36px;
}

.w-100 {
  width: 100%;
}

.w-50 {
  display: block;
  justify-content: center;
  width: 50%;
  margin: auto;
}

form {
  padding: 2rem 0em;
  justify-content: center;
}
